# branches:
#   - master
#   - name: develop
#     prerelease: true
# debug: true
# ci: true
# dryRun: true
# plugins:
#   - '@semantic-release/commit-analyzer'
#   - '@semantic-release/release-notes-generator'
#   - '@semantic-release/github'

# {
#   'branches': ['main', { name: 'release', prerelease: true }],
#   'debug': 'false',
#   'plugins':
#     [
#       '@semantic-release/commit-analyzer',
#       '@semantic-release/release-notes-generator',
#       [
#         '@semantic-release/changelog',
#         {
#           'changelogFile': 'CHANGELOG.md',
#           'changelogTitle': '# Semantic Versioning Changelog'
#         }
#       ],
#       ['@semantic-release/git', { 'assets': ['CHANGELOG.md'] }],
#       ['@semantic-release/github', { 'assets': [{ 'path': 'build/**' }] }]
#     ]
# }

{
  'branches': ['main', { name: 'release', prerelease: true }],
  'plugins':
    [
      '@semantic-release/commit-analyzer',
      '@semantic-release/release-notes-generator',
      '@semantic-release/changelog',
      ['@semantic-release/npm', { 'npmPublish': false }],
      [
        '@semantic-release/git',
        {
          'assets':
            [
              'package.json',
              'package-lock.json',
              'compiled/index.js',
              'CHANGELOG.md'
            ],
          'message': "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
      ],
      '@semantic-release/github'
    ]
}
